body{
	margin: 2em;
}
.list{
	display: flex;
}
h1{
	text-align: center;
}
.form, .table{
	width: 40%;
}
select, input{
	width: 80%;
}
table{
	width: 100%;
    margin: 20px 0;
	border-collapse: collapse;
}

table, th, td{
	border: 1px solid #cdcdcd;
}

table th, table td{
	text-align: center;
}